<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>

    <link href="/static/css/styles.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:insert="~{fragments :: navbar}"></div>
<div class="text-center">
    <h1 class="title mb-5">Вільні замовлення</h1>
</div>
<div class="container" th:switch="${freeOrders.size()}">
    <div th:case="0" class="text-center empty-order">
        <h3 class="title mb-5">Немає замовлень</h3>
    </div>
    <div th:case="*" class="row">
        <div class="col-sm-6 card m-3" style="width: 25rem;" th:each="order: ${freeOrders}">
            <div class="card-header">
                <b class="card-title">
                    Ім'я замовника:
                    <span th:text="${order.customer.getName()}"></span>
                </b>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="card-text">Електронна пошта:</span>
                    <span class="card-text" th:text="${order.customer.email}">Text</span>
                </li>
                <li class="list-group-item">
                    <span class="card-text">Адреса:</span>
                    <span class="card-text" th:text="${order.objectAddress}">Text</span>
                </li>
                <li class="list-group-item">
                    <span class="card-text">Номер телефону:</span>
                    <span class="card-text" th:text="${order.phoneNumber}">Text</span>
                </li>
                <li class="list-group-item">
                    <span class="card-text">Тип будівлі:</span>
                    <span class="card-text" th:text="${order.buildingType.getName()}">Text</span>
                </li>
                <li class="list-group-item">
                    <span class="card-text">Площа будівлі:</span>
                    <span class="card-text" th:text="${order.squareMeter}">Text</span>
                </li>
                <li class="list-group-item">
                    <span class="card-text">Функції управління:</span>
                    <br/>
                    <div th:each="control: ${order.controlFunctions}" class="card-text">
                        <span class="card-text" th:text="${control.getName()} + ' '">Text</span>
                    </div>
                </li>
                <li class="list-group-item">
                    <span class="card-text">Функції безпеки:</span>
                    <br/>
                    <div th:each="security: ${order.securityFunctions}" class="card-text">
                        <span class="card-text" th:text="${security.getName()} + ' '">Text</span>
                    </div>
                </li>
                <li class="list-group-item">
                    <span class="card-text">Функції безпеки:</span>
                    <br/>
                    <div th:each="security: ${order.securityFunctions}" class="card-text">
                        <span class="card-text" th:text="${security.getName()} + ' '">Text</span>
                    </div>
                </li>
                <li class="list-group-item" th:if="${order.customerMessage}">
                    <span class="card-text">Коментар замовника:</span>
                    <br/>
                    <q class="card-text" th:text="${order.customerMessage}">Text</q>
                </li>
                <li class="list-group-item">
                    <span class="card-text">Приблизна ціна:</span>
                    <br/>
                    <span class="card-text" th:text="${order.price}">Text</span>
                </li>
                <li th:if="!${order.active} and (${order.employee} == null)" class="list-group-item  bg-danger">
                    <span class="card-text">Статус:</span>
                    <span class="card-text"> замовлення не прийняте!</span>
                </li>

            </ul>
            <div class="card-footer text-muted">
                <form method="post" th:action="@{/orders/add/{id}(id = ${order.id})}">
                    <span class="card-text">Додати коментар</span>
                    <label class="form-label" for="customerMessage"></label>
                    <textarea class="form-control rounded-0" id="customerMessage" name="message"
                              rows="3" placeholder="Коментар"></textarea>
                    <div class="col text-center mt-2">
                        <button class="btn btn-primary w-50" type="submit">Прийняти</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <h1 class="title mb-5">Мої замовлення</h1>
</div>
<div class="container" th:switch="${myOrders.size()}">
    <div th:case="0" class="text-center empty-order">
        <h3 class="title mb-5">Немає замовлень</h3>
    </div>
    <div th:case="*" class="row">


        <div class="col-sm-6 card m-3" style="width: 25rem;" th:each="order: ${myOrders}">
            <div class="card-header">
                <b class="card-title">
                    Ім'я замовника:
                    <span th:text="${order.customer.getName()}"></span>
                </b>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="card-text">Електронна пошта:</span>
                    <span class="card-text" th:text="${order.customer.email}">Text</span>
                </li>
                <li class="list-group-item">
                    <span class="card-text">Адреса:</span>
                    <span class="card-text" th:text="${order.objectAddress}">Text</span>
                </li>
                <li class="list-group-item">
                    <span class="card-text">Номер телефону:</span>
                    <span class="card-text" th:text="${order.phoneNumber}">Text</span>
                </li>
                <li class="list-group-item">
                    <span class="card-text">Тип будівлі:</span>
                    <span class="card-text" th:text="${order.buildingType.getName()}">Text</span>
                </li>
                <li class="list-group-item">
                    <span class="card-text">Площа будівлі:</span>
                    <span class="card-text" th:text="${order.squareMeter}">Text</span>
                </li>
                <li class="list-group-item">
                    <span class="card-text">Функції управління:</span>
                    <br/>
                    <div th:each="control: ${order.controlFunctions}" class="card-text">
                        <span class="card-text" th:text="${control.getName()} + ' '">Text</span>
                    </div>
                </li>
                <li class="list-group-item">
                    <span class="card-text">Функції безпеки:</span>
                    <br/>
                    <div th:each="security: ${order.securityFunctions}" class="card-text">
                        <span class="card-text" th:text="${security.getName()} + ' '">Text</span>
                    </div>
                </li>
                <li class="list-group-item">
                    <span class="card-text">Функції безпеки:</span>
                    <br/>
                    <div th:each="security: ${order.securityFunctions}" class="card-text">
                        <span class="card-text" th:text="${security.getName()} + ' '">Text</span>
                    </div>
                </li>
                <li class="list-group-item" th:if="${order.customerMessage}">
                    <span class="card-text">Коментар замовника:</span>
                    <br/>
                    <q class="card-text" th:text="${order.customerMessage}">Text</q>
                </li>
                <li class="list-group-item" th:if="${order.employee}">
                    <b class="card-text">Ім'я виконавця:</b>

                    <b class="card-text" th:text="${order.employee.getName()}">Text</b>
                </li>
                <li class="list-group-item" th:if="${order.employeeMessage}">
                    <span class="card-text">Коментар виконавця:</span>
                    <br/>
                    <q class="card-text" th:text="${order.employeeMessage}">Text</q>
                </li>
                <li class="list-group-item">
                    <span class="card-text">Приблизна ціна:</span>
                    <br/>
                    <span class="card-text" th:text="${order.price}">Text</span>
                </li>

                <li th:if="${order.active}" class="list-group-item bg-warning">
                    <span class="card-text">Статус:</span>
                    <span class="card-text"> замовлення прийняте!</span>
                </li>


            </ul>
            <div class="card-footer text-muted">
                <form method="post" th:action="@{/orders/done/{id}(id = ${order.id})}">
                    <div class="col text-center mt-2">
                        <button class="btn btn-primary w-75" type="submit">Позначити як виконане</button>
                    </div>
                </form>
                <form method="post" th:action="@{/orders/reject/{id}(id = ${order.id})}">
                    <div class="col text-center mt-2">
                        <button class="btn btn-primary w-75" type="submit">Відмовитись від виконання</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <h1 class="title mb-5">Інші замовлення</h1>
</div>
<div class="container" th:switch="${otherOrders.size()}">
    <div th:case="0" class="text-center empty-order">
        <h3 class="title mb-5">Немає замовлень</h3>
    </div>
    <div th:case="*" class="row">
        <div class="col-sm-6 card m-3" style="width: 25rem;" th:each="order: ${otherOrders}">
            <div class="card-header">
                <b class="card-title">
                    Ім'я замовника:
                    <span th:text="${order.customer.getName()}"></span>
                </b>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="card-text">Електронна пошта:</span>
                    <span class="card-text" th:text="${order.customer.email}">Text</span>
                </li>
                <li class="list-group-item">
                    <span class="card-text">Адреса:</span>
                    <span class="card-text" th:text="${order.objectAddress}">Text</span>
                </li>
                <li class="list-group-item">
                    <span class="card-text">Номер телефону:</span>
                    <span class="card-text" th:text="${order.phoneNumber}">Text</span>
                </li>
                <li class="list-group-item">
                    <span class="card-text">Тип будівлі:</span>
                    <span class="card-text" th:text="${order.buildingType.getName()}">Text</span>
                </li>
                <li class="list-group-item">
                    <span class="card-text">Площа будівлі:</span>
                    <span class="card-text" th:text="${order.squareMeter}">Text</span>
                </li>
                <li class="list-group-item">
                    <span class="card-text">Функції управління:</span>
                    <br/>
                    <div th:each="control: ${order.controlFunctions}" class="card-text">
                        <span class="card-text" th:text="${control.getName()} + ' '">Text</span>
                    </div>
                </li>
                <li class="list-group-item">
                    <span class="card-text">Функції безпеки:</span>
                    <br/>
                    <div th:each="security: ${order.securityFunctions}" class="card-text">
                        <span class="card-text" th:text="${security.getName()} + ' '">Text</span>
                    </div>
                </li>
                <li class="list-group-item">
                    <span class="card-text">Функції безпеки:</span>
                    <br/>
                    <div th:each="security: ${order.securityFunctions}" class="card-text">
                        <span class="card-text" th:text="${security.getName()} + ' '">Text</span>
                    </div>
                </li>
                <li class="list-group-item" th:if="${order.customerMessage}">
                    <span class="card-text">Коментар замовника:</span>
                    <br/>
                    <q class="card-text" th:text="${order.customerMessage}">Text</q>
                </li>
                <li class="list-group-item" th:if="${order.employee}">
                    <b class="card-text">Ім'я виконавця:</b>
                    <b class="card-text" th:text="${order.employee.getName()}">Text</b>
                </li>
                <li class="list-group-item" th:if="${order.employeeMessage}">
                    <span class="card-text">Коментар виконавця:</span>
                    <br/>
                    <q class="card-text" th:text="${order.employeeMessage}">Text</q>
                </li>
                <li class="list-group-item">
                    <span class="card-text">Приблизна ціна:</span>
                    <br/>
                    <span class="card-text" th:text="${order.price}">Text</span>
                </li>
                <li th:if="!${order.active} and (${order.employee} == null)" class="list-group-item  bg-danger">
                    <span class="card-text">Статус:</span>
                    <span class="card-text"> замовлення не прийняте!</span>
                </li>
                <li th:if="${order.active}" class="list-group-item bg-warning">
                    <span class="card-text">Статус:</span>
                    <span class="card-text"> замовлення прийняте!</span>
                </li>
                <li th:if="!${order.active} and (${order.employee} != null)" class="list-group-item  bg-success">
                    <span class="card-text">Статус:</span>
                    <span class="card-text"> замовлення виконане!</span>
                </li>

            </ul>
            <div class="card-footer text-muted">
                <form method="post" th:action="@{/orders/return/{id}(id = ${order.id})}">
                    <div class="col text-center mt-2">
                        <button class="btn btn-primary w-75" type="submit">Повернути на виконання</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:insert="~{fragments :: footer}"></div>
</body>
</html>